@charset "utf-8";

body {
    font-family: "Tahoma", sans-serif;
    background: #333;
    color: #fff;
}

h1 {
    text-align: center;
}

h2{
    text-align: center;
    color: rgb(116, 101, 19);
}

.col {
    float: left;
    width: 25%;
    padding: 6px;
    margin-left: 19%;
    box-sizing:content-box;
}

.col1 {
    float:left;
    width: 20%;
    padding: 8px;
    margin-left: 4.2%;
    box-sizing: border-box;
}

.price-box {
    background: #fff;
    color: #555;
    list-style-type: none;
    border: 1px solid #555;
    margin: 0;
    padding: 0;
}


.price-box .header {
    background-color: #111;
    color:  rgb(116, 101, 19);
    font-size: 25px;
}

.price-box .header {
    background: black;
}

.price-box li {
    padding: 17px;
    border-bottom: 20px solid #eee;
    text-align: center;
}

.bottom {
    background-color: goldenrod;
    border: none;
    color: #fff;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
   }

   @media(max-width:768px) {
    .col .col1 {
    width: 100%;
    }
}
