@charset "utf-8";

.container div {
    border: 1px #ccc solid;
    padding: 10px;
}

.container {
    display: flex;
   }
   
   .container div {
    border: 1px #ccc solid;
    padding: 0px;
   }

   .container {
    display: flex;
   }

   .container div {
    border: 1px #ccc solid;
    padding: 10px;
   }

   .tex div {
    border: 1px #ccc solid;
    padding: 10px;
}

   .texto-1 {
    display: flex;
    flex-direction: 1;
    order: 2;
    align-self: flex-end;
   }

   .texto-2 {
    flex-direction: 1;
    order: 1;
   }

   .texto-3 {
    flex-direction: 1;
    order: 4;
   }

   .texto-4 {
    flex-direction: 1;
    order: 3;
  
   }